body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(img/first.jpg);
    background-size: cover;
}

.top {
    margin-top: 10px;
}

.content {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.butt {
    display: flex;
    gap: 1rem;
    margin-left: 15px;
}

.card-body {
    text-align: center;
}

.grey {
    color: grey;
    font-size: 14px;
}
